################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/temp

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/